<h2>Enter Blog Entries Here</h2>
<br>
<a href="/">Return to main</a>
<br>
<form action="/create_blog" method="post" id="blog">
	<label>Post Title</label>
	<input type="text" name="title">
	<br>
	<label>Post Date</label>
	<input type="text" name="date">
	<br>
	<label>Blog Entry</label>
	<textarea name="writeup" form="blog" rows="10" column="300"></textarea>
	<br>
	<input type="submit" value="Create Blog Entry">
</form>

